# Python Data Science Toolbox (Part 1)

## Chapter 1. Writing your own functions

## 1. User-defined functions

## Built-in functions

* `str()`

In [1]:
x = str(5)

In [2]:
print(x)

5

In [3]:
print(type(x))

<class 'str'>

## Defining a function

In [4]:
def square():            # function header
    new_value = 4 ** 2   # function body (indented)
    print(new_value)

In [5]:
square()

16

## Function parameters

In [6]:
def square(value):
    new_value = value ** 2
    print(new_value)

In [7]:
square(4)

16

In [8]:
square(5)

25

### Return values from functions

* Return a value from a function using `return`

In [9]:
def square(value):
    new_value = value ** 2
    return new_value

In [10]:
num = square(4)

In [11]:
print(num)

16

### Docstrings

* Docstrings describe what your function does
* Serve as documentation for your function
* Placed in the immediate line after the function header
* In between triple double quotes """

In [12]:
def square(value):
    """Return the square of a value."""
    new_value = value ** 2
    return new_value

## 2. Multiple parameters and return values

### Multiple function parameters

* Accept more than 1 parameter:

In [13]:
def raise_to_power(value1, value2):
    """Raise value1 to the power of value2."""
    new_value = value1 ** value2
    return new_value

* Call function: # of arguments = # of parameters

In [14]:
result = raise_to_power(2, 3)

In [15]:
print(result)

8

### A quick jump into tuples

* Make functions return multiple values: Tuples!
* Tuples:
    * Like a list - can contain multiple values
    * Immutable - can’t modify values!
    * Constructed using parentheses ()

In [16]:
even_nums = (2, 4, 6)

In [17]:
print(type(even_nums))

<class 'tuple'>

### Unpacking tuples

* Unpack a tuple into several variables:

In [18]:
even_nums = (2, 4, 6)
a, b, c = even_nums

print(a)
print(b)
print(c)

2
4
6

### Accessing tuple elements

* Access tuple elements like you do with lists:

In [19]:
even_nums = (2, 4, 6)
print(even_nums[1])

4

In [20]:
second_num = even_nums[1]
print(second_num)

4

* Uses zero-indexing

### Returning multiple values

In [21]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa."""
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    new_tuple = (new_value1, new_value2)
    return new_tuple

In [22]:
result = raise_both(2, 3)

In [23]:
print(result)

(8, 9)

## Chapter 2. Default arguments, variable-length arguments and scope

## 3. Scope and user-defined functions

### Crash course on scope in functions

* Not all objects are accessible everywhere in a script
* **Scope** - part of the program where an object or name may be accessible
    * *Global scope* - defined in the main body of a script
    * *Local scope* - defined inside a function
    * *Built-in scope* - names in the pre-defined built-ins module

### Global vs. local scope (1)

```python
In [1]: def square(value):
            """Returns the square of a number."""
            new_val = value ** 2
            return new_val
    
In [2]: square(3)
Out[2]: 9
    
In [3]: new_val
```
```
        -------------------------------------------------------------------
        NameError                       Traceback (most recent call last)
        <ipython-input-3-3cc6c6de5c5c> in <module>()
        ----> 1 new_value
        NameError: name 'new_val' is not defined
```

### Global vs. local scope (2)

In [24]:
new_val = 10

In [25]:
def square(value):
    """Returns the square of a number."""
    new_val = value ** 2
    return new_val

In [26]:
square(3)

9

In [27]:
new_val

10

### Global vs. local scope (3)

In [28]:
new_val = 10

In [29]:
def square(value):
    """Returns the square of a number."""
    new_value2 = new_val ** 2
    return new_value2

In [30]:
square(3)

100

In [31]:
new_val = 20

In [32]:
square(3)

400

### Global vs. local scope (4)

In [33]:
new_val = 10

In [34]:
def square(value):
    """Returns the square of a number."""
    global new_val
    new_val = new_val ** 2
    return new_val

In [35]:
square(3)

100

In [36]:
new_val

100

## 4. Nested functions

### Nested functions (1)

```python
def outer( … ):
    """ … """
    x = …

    def inner( … ):
        """ … """
        y = x ** 2
    return …
```

### Nested functions (2)

In [37]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa."""
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1
    new_tuple = (new_value1, new_value2)
    return new_tuple

### Nested functions (3)

In [38]:
def mod2plus5(x1, x2, x3):
    """Returns the remainder plus 5 of three values."""
    def inner(x):
        """Returns the remainder plus 5 of a value."""
        return x % 2 + 5
    return (inner(x1), inner(x2), inner(x3))

In [39]:
print(mod2plus5(1, 2, 3))

(6, 5, 6)

### Returning functions

In [40]:
def raise_val(n):
    """Return the inner function."""
    def inner(x):
        """Raise x to the power of n."""
        raised = x ** n
        return raised
    return inner

In [41]:
square = raise_val(2)
cube = raise_val(3)
print(square(2), cube(4))

4 64

### Using `nonlocal`

In [42]:
def outer():
    """Prints the value of n."""
    n = 1
    def inner():
        nonlocal n
        n = 2
        print(n)
    inner()
    print(n)

In [43]:
outer()

2
2

### Scopes searched

* Local scope
* Enclosing functions
* Global
* Built-in

## 5. Default and flexible arguments

In [44]:
def power(number, pow=1):
    """Raise number to the power of pow."""
    new_value = number ** pow
    return new_value

In [45]:
power(9, 2)

81

In [46]:
power(9, 1)

9

In [47]:
power(9)

9

### Flexible arguments: `*args` (1)

In [48]:
def add_all(*args):
    """Sum all values in *args together."""
    
    # Initialize sum
    sum_all = 0
    
    # Accumulate the sum
    for num in args:
        sum_all += num
    
    return sum_all

### Flexible arguments: `*args` (2)

In [49]:
add_all(1)

1

In [50]:
add_all(1, 2)

3

In [51]:
add_all(5, 10, 15, 20)

50

### Flexible arguments: `**kwargs`

In [52]:
def print_all(**kwargs):
    """Print out key-value pairs in **kwargs."""
    
    # Print out the key-value pairs
    for key, value in kwargs.items():
        print(key + ": " + value)

In [53]:
print_all(name="Hugo Bowne-Anderson", employer="DataCamp")

name: Hugo Bowne-Anderson
employer: DataCamp

## 6. Bringing it all together

### Next exercises:

* Generalized functions:
    * Count occurrences for any column
    * Count occurrences for an arbitrary number of columns

### Add a default argument

In [54]:
def power(number, pow=1):
    """Raise number to the power of pow."""
    new_value = number ** pow
    return new_value

In [55]:
power(9, 2)

81

In [56]:
power(9)

9

### Flexible arguments: `*args` (1)

In [57]:
def add_all(*args):
    """Sum all values in *args together."""
    
    # Initialize sum
    sum_all = 0
    
    # Accumulate the sum
    for num in args:
        sum_all = sum_all + num
    
    return sum_all

## Chapter 3. Lambda functions and error-handling

## 7. **lambda** functions

### **lambda** functions

In [58]:
raise_to_power = lambda x, y: x ** y

In [59]:
raise_to_power(2, 3)

8

### Anonymous functions

* Function map takes two arguments: `.map(func, seq)`
* `map()` applies the function to ALL elements in the sequence

In [60]:
nums = [48, 6, 9, 21, 1]

In [61]:
square_all = map(lambda num: num ** 2, nums)

In [62]:
 print(square_all)

<map object at 0x10dca4860>

In [63]:
 print(list(square_all))

[2304, 36, 81, 441, 1]

## 8. Introduction to error handling

### Passing an incorrect argument

In [64]:
float(2)

2.0

In [65]:
float(2.3)

2.3

```python
In [66]: float('hello')
```
```
        ------------------------------------------------------------------
        ValueError                       Traceback (most recent call last)
        <ipython-input-3-d0ce8bccc8b2> in <module>()
        ----> 1 float('hi')
        ValueError: could not convert string to float: 'hello'
```

### Passing valid arguments

In [66]:
def sqrt(x):
    """Returns the square root of a number."""
    return x ** (0.5)

In [67]:
sqrt(4)

2.0

In [68]:
sqrt(10)

3.1622776601683795

### Passing invalid arguments

```python
In [69]: sqrt('hello')
Out[69]:
```
```
        ------------------------------------------------------------------
        TypeError                        Traceback (most recent call last)
        <ipython-input-4-cfb99c64761f> in <module>()
        ----> 1 sqrt('hello')
        <ipython-input-1-939b1a60b413> in sqrt(x)1 def sqrt(x):
        ----> 2 return x**(0.5)
        TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'float'
```

### Errors and exceptions

* Exceptions - caught during execution
* Catch exceptions with **try-except** clause
    * Runs the code following `try`
    * If there’s an exception, run the code following `except`

### Errors and exceptions (1)

In [69]:
def sqrt(x):
    """Returns the square root of a number."""
    try:
        return x ** 0.5
    except:
        print('x must be an int or float')

In [70]:
sqrt(4)

2.0

In [71]:
sqrt(10.0)

3.1622776601683795

In [72]:
sqrt('hi')

x must be an int or float

### Errors and exceptions (2)

In [73]:
def sqrt(x):
    """Returns the square root of a number."""
    try:
        return x ** 0.5
    except TypeError:
        print('x must be an int or float')

In [74]:
sqrt(-9)

(1.8369701987210297e-16+3j)

In [75]:
def sqrt(x):
    """Returns the square root of a number."""
    if x < 0:
        raise ValueError('x must be non-negative')
        try:
            return x ** 0.5
        except TypeError:
            print('x must be an int or float')

```python
In [76]: sqrt(-2)
Out[76]:
```
```
        ---------------------------------------------------------------------------
        ValueError                                Traceback (most recent call last)
        <ipython-input-76-84fde6a6eea1> in <module>()
        ----> 1 sqrt(-2)

        <ipython-input-75-0c401d007842> in sqrt(x)
              2     """Returns the square root of a number."""
              3     if x < 0:
        ----> 4         raise ValueError('x must be non-negative')
              5         try:
              6             return x ** 0.5

        ValueError: x must be non-negative
```

## 9. Bringing it all together

### Errors and exceptions (3)

In [76]:
def sqrt(x):
    try:
        return x ** 0.5
    except:
        print('x must be an int or float')

In [77]:
sqrt(4)

2.0

In [78]:
sqrt('hi')

x must be an int or float

### Errors and exceptions (4)

In [79]:
def sqrt(x):
    if x < 0:
        raise ValueError('x must be non-negative')
        try:
            return x ** 0.5
        except TypeError:
            print('x must be an int or float')